{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify daos_extras %}

{% block title %}
    {% if cl %} {# Если в списке #}
        {{ cl.opts.verbose_name_plural|capfirst }}
    {% elif original %} {# Если на странице созданного объекта #}
        {{ original }}
    {% else %} {# Во всех остальных случаях — дефолт, но без названия сайта #}
        {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }}
    {% endif %}
{% endblock %}

{% block content_title %}
    {% url 'admin:index' as url_admin_index %}
    {% url 'django-admindocs-docroot' as docsroot %}

    {% if request.path == url_admin_index %}
        {% if has_permission %}
            <form method="post" id="LogoutForm" action="{% url 'admin:logout' %}">
                {% csrf_token %}
            </form>
            <div class="UserPanel">
                <span class="Welcome">
                    {% translate 'Welcome,' %} {% firstof user.get_short_name user.get_username %}!
                </span>
                <div class="UserTools">
                    {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
                    {% endif %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a>
                        {% endif %}
                    {% endif %}
                    {% include "admin/color_theme_toggle.html" %}
                    <button form="LogoutForm">{% translate 'Log out' %}</button>
                </div>
            </div>
        {% endif %}
    {% elif docsroot and request.path|startswith:docsroot %}
        {% if request.path|count:'/' == 4 %}
            <a href="{{ docsroot }}" class="Back">‹ {% translate 'Documentation' %}</a>
        {% endif %}
    {% else %}
        <h1>
            {% if opts.app_label %}
                <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
            {% endif %}

            {% if opts.verbose_name_plural and not cl %}
                <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
            {% endif %}

            {% if object.pk %}
                <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a> &rsaquo;
            {% endif %}

            {% if cl %} {# Если в списке #}
                {{ cl.opts.verbose_name_plural|capfirst }}
            {% elif original %} {# Если на странице созданного объекта или его истории #}
                {{ original }}
            {% else %} {# Во всех остальных случаях — дефолт, но без названия сайта #}
                {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }}
            {% endif %}
        </h1>
    {% endif %}
{% endblock %}

{% block bodyclass %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot and request.path|startswith:docsroot %}admin-docs{% endif %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block header %}
    {% url 'admin:index' as url_admin_index %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if has_permission %}
        <div class="Header">
            <a class="HeaderLink _Icon" href="javascript:;" id="Bars">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2 Bars"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x Close"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            </a>
            <a href="{% url 'admin:index' %}" class="HeaderLink _Icon {% if request.path == url_admin_index %}_Current{% endif %}">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
            </a>
            {% for item in DAOS_MENU %}
                <a href="{{ item.path }}" class="HeaderLink{% if item.path in request.path %} _Current{% endif %}"{% if item.target %} target="{{ item.target }}"{% endif %}>
                    <span class="HeaderLinkName">{{ item.name }}</span>
                    <span class="HeaderLinkDescription">{{ item.description }}</span>
                </a>
            {% endfor %}
            {% if site_url %}
                <a class="HeaderLink" href="{{ site_url }}">Сайт &rsaquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
