{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}{% endblock %}

{% block search %}
    <div class="Panel">
        {% search_form cl %}

        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}

        <ul class="ObjectTools object-tools">
            {% change_list_object_tools %}
        </ul>
    </div>
{% endblock %}

{% block result_list %}
{#    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}#}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}